.input {
    font-size: 25px;
    width: 247px;
    height: 39px;
    border: 1px solid black;
    background-color: white;
    margin-left: 3px;
    margin-bottom: 3px;
    background-color: rgb(201, 252, 215)
}

.button {
    font-size: 20px;
    font-weight: bold;
    padding-top: 15px;
    margin-left: 3px;
    margin-top: 3px;
    border-radius: 30%;
    text-align: center;
    height: 60px;
    width: 60px;
    background-color: rgb(242, 242, 242);
    box-shadow: 0 9px #999;
}

.button:hover {
    background-color: #cdcdcd;
}

.button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.calculator {
    padding-left: 10px;
    background-color: rgb(113, 113, 113);
    margin: auto;
    margin-top: 24px;
    width: 283px;
    height: 380px;
    padding: 25px;
    border: 2px solid black;
    border-radius: 10%;
    box-shadow: 0 9px #999;
}

#equals {
    background-color: rgb(230, 201, 53);
}

.clear {
    background-color: rgb(230, 201, 53);
}
