.navbar-default {
  font-family:Oswald;
     background-color: rgba(248, 248, 248, 0);
     border-color:rgba(248, 248, 248, 0);
}
.navbar-default .navbar-brand { font-size: 23px;

    color: white;
  }
  .navbar-default .navbar-nav>li>a {
    font-size: 23px;
    color:white;
  }
.navbar-fixed-top {
    top:100;
   border-width: 0 0 1px;
 }
 .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #c8c8c8;
    background-color: transparent;
}
.top {
    margin-top: 50px;
}

.logo {
    display: inline;
}
.calcpic{
  padding-top:68px;
}
.hero {
  margin-top:-50px;
    font-family: Oswald;
    color: white;
    text-align: center;
    background-image: url("../images/geobackground.jpg") !important;
    padding: 100px 100px 230px;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.whoh1 {
    color:white;
    font-size: 57px;
    padding-top: 20px;
    font-family: Oswald;
}

.heroh1 {
    font-size: 80px;
}

.imgmid {
    margin-top: 10px;
    margin: auto;
    padding-bottom:10px;
}

.whorow {
  color:white;
    background-color:#020e0f;
}

.whoblock {
    color: white;
    text-align: center;
    background-color:#020e0f;
    background-repeat: no-repeat;
}

.whop {
    font-size: 32px;
    padding: 46px 60px 27px;
}

.web1 {
    width: 100%;
}



.gallerybottomrow {
    padding: 20px 0px;
}

.socialh1 {
    padding-top: 10px;
}

.socialh12 {
    padding-top: 10px;
    color: #E75050;
}

.socialh13 {
    padding-top: 10px;
    color: #A2DDD1;
}

.codeimg {
    background-color: #020e0f;
}

.colmidbottom {
    color: #C9B27F;
    text-align: center;
    font-family: Oswald;
    padding: 0px 78px;
    background-image: url("../images/socialbg.jpg");
    background-blend-mode: multiply;
    background-color: #3c4249;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formblock {
    margin-top: 81px;
}

.panel-heading {
    text-align: center;
}

.form-control {
    margin-bottom: 10px;
}

.panel-title {
    padding: 18px;
    font-family: Oswald;
    font-size: 40px;
}

.galleryh1 {
    color: #241f11;
    font-size: 65px;
    padding: 49px 0px;
    font-family: Oswald;
}

.btngreen {
    color: white;
    background-color: #156774;
    padding: 16px;
    font-family: Oswald;
    font-size: 40px;
    border: black 3px;
    margin-bottom: 60px;
}

.contactblock {
    background-color: #aab2b5;
}

.btn-default:hover {
    background-color: #8fe5f2;
}

.map {
    text-align: center;
}

.bgmap {
    background-color: #aab2b5;
}

@media (max-width: 767px) {
    .whop {
        padding: 0px;
        padding-bottom: 10px;
        font-size: 20px;
    }
    .contactblock {
        padding-top: 11px;
    }
    .lessonblock {
        padding-top: 10px;
    }
        .whoh1 {
            padding: 0px;
}
}
.javascript{
  text-align: center;
}
.jsh1{
  color: black;
  font-size: 40px;
  padding-top: 3px;
  font-family: Oswald;
}
.javascriptrow{
  color: #C9B27F;
  background-color: #aab2b5;
}

.contactbutton
{
  height: 82px;
    width: 293px;
    font-size: 43px;
}
